@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
}

@media (prefers-color-scheme: light) {
  body,
  html {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
  }
}

@media (prefers-color-scheme: dark) {
  body,
  html {
    --tw-bg-opacity: 1;
    background-color: rgb(30 41 59 / var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
}

@layer components {
  .my-react-select-container .my-react-select__control {
    @apply border border-solid border-gray-300 bg-white text-base text-red-600;
  }

  .my-react-select-container .my-react-select__indicator-separator {
    display: none;
  }

  .my-react-select-container .my-react-select__single-value {
    @apply min-w-[5em] sm:min-w-[4em];
  }

  .my-react-select-container .my-react-select__option {
    @apply bg-white text-gray-700 hover:bg-blue-600 hover:text-white;
  }

  .my-react-select-container .my-react-select__input-container,
  .my-react-select-container .my-react-select__placeholder,
  .my-react-select-container .my-react-select__single-value {
    @apply text-gray-700;
  }
}
